.main-grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 1fr;
}

.main-content {
    height: 100vh;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr clamp(250px, 350px, 500px);
    grid-template-rows: 100px 1fr 1fr;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.note-section {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    overflow-y: auto;
}