.layout-container {
  column-width: 200px;  
  column-gap: 16px;
}

.note {
  break-inside: avoid;
  margin-bottom: 16px;

  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 12px;

  background: var(--color-card-background);
  cursor: pointer;
}

.note-content {
  display: -webkit-box;
  -webkit-line-clamp: 18;
  -webkit-box-orient: vertical;
  overflow: hidden;
}